ARG_XML/DTD/magazzino/magazzino.dtd

<!ELEMENT magazzino (articolo*)>
<!ELEMENT articolo (paragrafo+)>
<!ELEMENT paragrafo (testo+, immagine*, codice?)>
<!ELEMENT testo (#PCDATA)>
<!ELEMENT immagine (#PCDATA)>
<!ELEMENT codice (#PCDATA)>

<!ATTLIST articolo
    cod ID #REQUIRED
    titolo CDATA #REQUIRED
    data CDATA #IMPLIED>

<!ATTLIST paragrafo
    titolo CDATA #IMPLIED
    tipo (abstract|bibbliografia|note) #REQUIRED>
